{% load staticfiles %}
<!DOCTYPE  html>
<html>
<head>
    <meta charset="utf-8">
    <title>Тут когда-нибудь будет рабочий калькулятор</title>

    </head>
<body>
    <input type="text" id="result" value="" placeholder="результат" readonly><br><br>
    <form id= "num" methot = "POST">
        {% csrf_token %}
        <input type="button" value="0">
        <input type="button" value="1">
        <input type="button" value="2">
        <input type="button" value="3">
        <input type="button" value="4">
        <br>
        <input type="button" value="5">
        <input type="button" value="6">
        <input type="button" value="7">
        <input type="button" value="8">
        <input type="button" value="9">
        <br>
        <input type="button" value="+">
        <input type="button" value="-">
        <input type="button" value="*">
        <input type="button" value="/">

    </form>
        <input type="button" id="clean" value="c">
        <input type="button" id="cleanElm" value="ce">
        <br>
        <input type="button" id="equally" value="=">

    <script src="{% static 'calc/js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'calc/js/source.js' %}"></script>

    <div id="results"></div> <!-- errors go here -->
    </body>
</html>