<!DOCTYPE html>
<html >
    <head>
        <title> {% block title %}Главная {% endblock %}</title>
    </head>
    <body>
        {% block header %}
        {% endblock %}

        {% block content %}
        <p>Здесь главная страница</p>
        <ul>
            <li><a href="{% url 'blog:list' %}"> приложение блог</a></li>
            <li><a href="{% url 'calculate:home' %}"> приложение калькулятор</a></li>
            <li><a href="{% url 'admin:index' %}">админка</a></li>
        </ul>
        {% endblock %}
    </body>
</html>