    {% extends "blog/post_list.html" %}
	{% url 'detail' post.id as the_url %}

    {% block content %}
    <!--Часть с постом -->
 	<p>{{ post.datetime}}</p>
	<h2>{{ post.title}}</h2>
	<p>{{ post.content|safe}}</p>

    <hr>
    <!-- Часть с формой для комментариев -->
    {% if user.is_authenticated %}
    <form action="{{the_url}}" method="post">
    {% csrf_token %}
	<ul>
	{{ form.as_ul }}
	</ul>
	<input type="submit" value="Submit" />
	</form>
	{% else %}
	    <p> Зарегестрируйтесь, что бы оставить комментарий </p>
	{% endif %}

    <!-- Список комментриев -->
	{% for comment in comment_list %}
	    <hr>
	<blockquote>
	<p> {{comment.autor}} <p>
	<p> {{comment.message}} <p>
	</blockquote>
	    <hr>
	{% endfor %}

    {% endblock %}